.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: #F31559;
}
#navbar-container{
  background-color: #F31559;

}
.navbar-header > .navbar-brand{
  color:whitesmoke ;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-inverse .navbar-nav>li>a{
  color:whitesmoke ;
}
.navbar-inverse .navbar-nav>li>a:hover{
  color:black ;
  font-weight: bolder;
}
.navbar-inverse .navbar-nav>.active>a{
  color: black;
  background-color: #FFCCCC;
  font-weight: bolder;
}


.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
.images{
  height: 400px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
}


/* TOOLS (box, point, zoom, move, light) */
.box-button {
  margin-top: 10px;
}
.point-button {
  margin-top: 10px;
}
.zoom-caption{
  margin-top: 10px;
}
.undo-redo-button {
  margin-top: 10px;
}
.light-button {
  margin-top: 10px;
}

#raw-cxray-image-div {
  /* Removed overflow: hidden to allow panning outside the container */
  position: relative; /* The positioning context for the image */
}

#image-to-zoom {
  cursor: grab; /* Indicates the image can be moved */
  transition: transform 0.1s ease; /* Smooths the zoom and drag transitions */
  /* Initial position set to center the image in the container */
  transform-origin: center;
}

#box-container {
  cursor: grab; /* Indicates the image can be moved */
  transition: transform 0.1s ease; /* Smooths the zoom and drag transitions */
  /* Initial position set to center the image in the container */
  transform-origin: center;
}

#image-to-zoom.grabbing {
  cursor: grabbing;
}

#box-container.grabbing {
  cursor: grabbing;
}

/* UPDATE INTERFACE */
.buttons {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Space between buttons */
  margin-top: 35px; /* Space above the buttons */
}

.buttons button {
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px; /* Bigger text on buttons */
}

/* Specific styles for buttons */
.save-button {
  background-color: #F31559; /* LimeGreen color */
}

.save-button:hover {
  background-color: #FFCCCC; /* Darker LimeGreen on hover */
  color: black;
}

/* UPDATE FOR ABNORMALITIES MARKDOWN */
select {
  width: 100%;
  padding: 9px;
  border: none;
  box-shadow: none;
  background: white;
  border-radius: 4px;
}

/* center the raw image */
#box-container{
  margin-left: 40px
}