@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/* login-container */
.box-area{
    width: 930px;
}

/* field-container */
.right-box{
    padding: 30px 30px 40px 40px;
}

/* custom-placeholder */
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

/* small-screens */
@media only screen and (max-width: 768px){

    .box-area{
    margin: 0 10px;
    }
    .left-box{
    height: 100px;
    overflow: hidden;
    }
    .right-box{
    padding: 20px;
    }

}

/* self-edit */
#login-btn{
    background-color: #F31559; 
    border-color: #F31559; 
    text-decoration: none;

}
#login-btn:hover{
    background-color: #FFCCCC;
    border-color: #FEBBCC; 
    color: black;
}