{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <title>CXRaide - Annotation</title>
  <link rel="stylesheet" href="../static/css/annotationEdit.css">

  <script>
    var rawCxrayURL = "{% static 'upload/' %}{{ raw_cxray }}";
  </script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" id="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">CXRaide</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- BODY -->
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-2 sidenav" id="tools-container">
                <div class="well" id="box-icon"> 
                    <img src="../static/images/box-icon.png" alt="">
                    <!-- <p>BOX</p> -->
                    <br><button class="box-button" id="box-button">BOX</button>
                </div>
                <div class="well" id="point-icon">
                    <img src="../static/images/point-icon.png" alt="">
                    <!-- <p>POINT</p> -->
                    <br><button class="point-button" id="point-button">POINT</button>
                </div>
                <div class="well" id="zoom-icon">
                    <img src="../static/images/zoom-icon.png" alt="">
                    <p class="zoom-caption">ZOOM</p>
                    <button class="zoom-button" id="zoom-in-button">IN</button> <button class="zoom-button" id="zoom-out-button">OUT</button>
                </div>
                <div class="well" id="light-icon">
                    <img src="../static/images/light-icon.png" alt="">
                    <!-- <p>LIGHT</p> -->
                    <br><button class="light-button">LIGHT</button>
                </div>
                <div class="well" id="undo-redo-icon">
                    <img src="../static/images/undo-redo-icon.png" alt="">
                    <!-- <p>UNDO - REDO</p> -->
                    <br><button class="undo-redo-button">UNDO</button> <button class="undo-redo-button">REDO</button>
                </div>
            </div>
            <div class="col-sm-8 text-left"> 
                <div class="text-container">
                    <h1>Annotation : Edited by Radiologist | Generated by AI </h1>
                    <hr>
                    <div class="row content">
                        <div class="images">
                            <!-- MANUALLY ANNOTATE BY EXPERTS -->
                            <div class="col-sm-6 text-center" id="raw-cxray-div">
                                <h4>Raw CXRay Name: {{ raw_cxray_filename }}</h4>
                                <!-- <div class="raw_cxray_image_div" id="raw_cxray_image_div">
                                    <img src="../static/upload/{{raw_cxray}}" alt={{ raw_cxray }} height="70%" width="70%" id="image-to-zoom">
                                </div> -->
                                <div class="raw_cxray_image_div" id="raw_cxray_image_div" height="400vh" width="300vw">
                                    <div id="box-container" tabindex="0"></div>
                                </div>
                            </div>
                            <!-- GENERATED BY AI -->
                            <div class="col-sm-6 text-center" id="ai-generated-div">
                                <h4>Tentative Image with Bounding Boxes (AI Generated)</h4>
                                <div id="ai-generated-box-container" height="400vh" width="300vw"></div>
                            </div>
                            <!-- GENERATED BY AI -->
                            <!-- <div class="col-sm-6 text-center">
                                <h4>Tentative Image with Bounding Boxes</h4>
                                <img src="../static/images/tentative-cxr.png" alt=""  height="400vh" width="300vw">
                            </div> -->
                            <!-- CONTAINER FOR TOOLS JAVASCRIPT -->
                            <!-- <div id="box-container" tabindex="0"></div> -->
                        </div> 
                        <div class="buttons">
                            <button class="save-button" id="save-button">Save Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well" id="label-dropdown">
                    <label for="abnormalities">Abnormalities:</label>
                    <select name="abnormalities" id="abnormalities">
                        <option value="select_label"></option>
                        <option value="atelectasis">Atelectasis</option>
                        <option value="cardiomegaly">Cardiomegaly</option>
                        <option value="consolidation">Consolidation</option>
                        <option value="infiltration">Infiltration</option>
                        <option value="nodule_mass">Nodule/Mass</option>
                        <option value="pleural_thickening">Pleural thickening</option>
                        <option value="pneumothorax">Pneumothorax</option>
                        <option value="pulmonary_fibrosis">Pulmonary fibrosis</option>
                        <option value="pleural_effusion">Pleural effusion</option>
                    </select>
                </div>
                <div class="well">
                    <p>Color</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Konva Library -->
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Custom Script -->
    <script src="{% static 'js/annotationEdit.js' %}"></script>

</body>
</html>
