<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>UIC REC - Recover Password</title>

      <link rel="stylesheet" href="../../static/css/changePass.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         {% include 'CXRaide/includes/message.html' %}
         <div class="title-text">
            <div class="title signup-researcher">New Password</div>
         </div>
         <div class="form-container">
            <div class="form-inner">
               <form action="#" class="code-verification" method="post">
                  {% csrf_token %}
                  <h5 id="label-name">Create New Password</h5>
                  <div class="field">
                     <input type="password" placeholder="Enter Old Password" name="password" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Enter New Password" name="new_password" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Confirm New Password" name="confirm_new_password" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Change" id="sub-btn">
                  </div>
                  <div class="loginBtn">
                     <a href="{% url 'login' %}" class="login">&laquo; Login</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!-- loader  -->
      <!-- <div class="loader-container" role="status">
         <img  src="../static/images/Spinner-1s-200px.gif" alt="" >
      </div> -->
      <script>
        const researcherText = document.querySelector(".title-text .signup-researcher");
        const researcherForm = document.querySelector("form.signup-researcher");
        const researcherBtn = document.querySelector("label.signup-researcher");
        const recBtn = document.querySelector("label.signup-rec");
        const recLink = document.querySelector("form .signup-link a");
        recBtn.onclick = (()=>{
            researcherForm.style.marginLeft = "-50%";
            researcherText.style.marginLeft = "-50%";
        });
        researcherBtn.onclick = (()=>{
            researcherForm.style.marginLeft = "0%";
            researcherText.style.marginLeft = "0%";
        });
        recLink.onclick = (()=>{
            recBtn.click();
          return false;
        });
     </script>
     <script src="../static/js/loader.js"></script> 
   </body>
</html>