<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/createAcc.css">
    <title>CXRaide</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100" id="main-container">
        <div class="row border rounded-5 p-3 bg-white shadow box-area" id="login-container">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #FF52A2" id="logo-box">
                <div class="featured-image mb-3">
                <img src="../static/images/tentative-logo.png" class="img-fluid" style="width: 250px;">
                </div>
                <p class="text-white fs-2" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 600;">CXRaide</p>
                <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Automatic Chest X-Ray Pattern Annotation and Classification</small>
            </div>             
            <div class="col-md-6 right-box" id="field-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                            <h2>Create Account Here</h2>
                            <p>Let's go and annotate now.</p>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Username" name="username" required>
                        </div>
                        <div class="input-group mb-1">
                            <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="First Name"  name="firstname" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Last Name" name="lastname" required>
                        </div>
                        <div class="input-group mb-1">
                            <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password"  name="password" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Confirm Password" name="confirm_password" required>
                        </div>
                        <div class="input-group mb-1">
                            <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email"  name="email" required>
                        </div>

                        <div class="input-group mb-3">
                            <button class="btn btn-lg btn-primary w-100 fs-6" id="login-btn" href=>Create Account</button>
                        </div>
                    </form>
                    <div class="row">
                        <small>Have an account now? <a href="{% url 'login' %}">Login</a></small>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>