<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- UPDATE PAGE -->
  <title>CXRaide - Home</title> 
  <link rel="stylesheet" href="../static/css/home.css">
</head>

{% load static %}
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" id="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">CXRaide</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- BODY -->
    <div class="container-fluid text-center">   
        <div class="row content">
            <div class="col-sm-2 sidenav" id="tools-container">
                <div class="well">
                    <img src="../static/images/point-icon.png" alt="" id="point-icon">
                    <p>POINT</p>
                </div>
                <div class="well">
                    <img src="../static/images/box-icon.png" alt="" id="box-icon">
                    <p>BOX</p>
                </div>
                <div class="well">
                    <img src="../static/images/zoom-icon.png" alt="" id="zoom-icon">
                    <p>ZOOM</p>
                </div>
                <div class="well">
                    <img src="../static/images/move-icon.png" alt="" id="move-icon">
                    <p>MOVE</p>
                </div>
                <div class="well">
                    <img src="../static/images/light-icon.png" alt="" id="light-icon">
                    <p>LIGHT</p>
                </div>
            </div>
            <div class="col-sm-8 text-left"> 
                {% include 'CXRaide/includes/message.html' %} 
                <div class="text-container">
                    <h1>WELCOME! Doctor</h1>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        Current Image Name: <input type="text" name="prev_raw_cxray_name" placeholder="Enter Current Image" required>
                        <br><br>New Image Name: <input type="text" name="raw_cxray_name" placeholder="Enter Here" required>
                        <br><br><input type="file" name="raw_cxray" required>
                        <hr>
                        <br><button>Update Image</button>    
                    </form>  
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p></p>
                </div>
                <div class="well">
                    <p></p>
                </div>
                <div class="well">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
